.git
.gitignore

.venv
.venv-prod-test
venv

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

models
*.gguf

tests

docker-build.log

.DS_Store
Thumbs.db
